.header {
  border-bottom: 1px solid #fff;

  &__inner {
    display: flex;
    align-items: center;
    @include fluid(gap, 125px, 102px);
  }
}

@media(max-width:992px) {
  .header {
    &__inner {
      justify-content: space-between;
      gap: unset;
    }
  }
}